/* VARIABLES  */

:root {
    --color-primario: #ABEBC6;
    --color-btn: #6F7D9B;
    --color-sencundario: #16A085;
    --color-background: #5D6D7E;
    --color-texto: #8AB4BD;
    --text-default: 'Open Sans';
}

/* GENERALES */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--text-default);
}

body { 
    background: var(--color-background);
}

.titulos {
    font-size: 40px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 600;
}

.subtitulos {
    font-size: 25px;
    font-weight: 400;
    text-align: center;
    text-transform: uppercase;
    color: var(--color-primario);

}

.btn {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    color: #FFFF;
    background: var(--color-btn);
    font-weight: 700;
    padding: 15px 30px;
    outline: none;
    border: 2px solid var(--color-btn);
    cursor: pointer;
    position: relative;
    top: 20px;
    transition: all 0.3s;
}

.btn span {
    padding-left: 10px;
}

.btn:hover {
    padding: 15px 45px;
}


/* MENU PRINCIPAL */

.menu-principal  {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 75px;
    padding: 0 30px;
    margin-top: 10px;
    background: var(--color-background);
    z-index: 1;
}

.logo img {
    margin-top: 40px;
    margin-right: 30px;
    width: 100px;
    cursor: pointer;
}

.menu-Bar {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.menu-Bar .enlaces ul li {
    display: inline-block;
    margin-top: 30px;
    padding: 0 10px;

}

.menu-Bar .sociales {
    margin-top: 30px;
}

.menu-Bar .enlaces ul li a {
    font-size: 14px;
    text-transform: uppercase;
    text-decoration: none;
    color: var(--color-texto); 
    font-weight: 600;
    background: linear-gradient(currentColor, currentColor);
    background-position: 100% 100%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    transition: all 0.5s;


    
}
.menu-Bar .enlaces ul li a:hover {
    color: var(--color-sencundario);
    background-size: 50% 2px;
}

.menu-Bar .sociales a {
    font-size: 16px;
    text-transform: uppercase;
    padding: 0 10px;
    font-weight: 700;
    text-decoration: none;
    color: var(--color-texto);
    transition: all 0.5s;
}
.menu-Bar .sociales a:hover {
    color: var(--color-sencundario);

}


.menu-principal i {
    cursor: pointer;
    color: var(--color-texto);
    margin-top: 30px;
    font-size: 30px;
    float: right;
    display: none;
    transition: all 0.5s;

}

.menu-principal i:hover {
    color: var(--color-sencundario);

}

.contenido .video {
    display: block;
    padding-top: 200px;
    text-align: center;

}

@media screen and (max-width: 650px){
    .menu-principal {
        position: fixed;
        top: 0;
        margin-top: 0;
    }

    .menu-principal i {
        display: block;
    }


    .menu-Bar {
        justify-content: space-around;
        align-items: center;
        flex-direction: column;
        width: 100%;
        height: 100vh;
        position: fixed;
        right: 0;
        top: 0;
        z-index: 1000;
        background: #333;
        transition: all 1s;
        transform: translateX(100%);

    }

    .menu-Bar.active {
        transform: translateX(0%);

    }

    .menu-Bar i {
        position: absolute;
        right: 50px;
        top: 50px;
    }

    .menu-Bar .enlaces ul li { 
        display: block;
        padding: 20px 10px;
        text-align: center;
    }
    .menu-Bar .enlaces ul li a,
    .menu-Bar .sociales a {
        font-size: 20px;




    }
    .contenido .video {
        padding-top: 200px;
        width: 50%;
    }

}



