/* VARIABLES  */

:root {
    --color-primario: #ABEBC6;
    --color-btn: #6F7D9B;
    --color-sencundario: #9addd1;
    --color-background: #dbd4d4;
    --color-texto: #c9c9c9;
    --text-default: 'Raleway', sans-serif;;
}

/* GENERALES */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--text-default);
}

body { 
   background: var(--color-background);
}

header {
    display: flex;
    height: 100px;
    width: 100%;
    background: #594242;
    color: var(--color-texto);
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 100%;
    letter-spacing: 8px;
    
}

header h1 {
    cursor: pointer;
}

.content1 {
    font: var(--text-default);
    display: flex;
    height: 200px;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
   
}

.title {
    display: flex;
    width: 50%;
    text-align: center;
    padding-top: 50px;
}

.information {
    width: 50%;
    height: 100px;
    padding-top: 10px;
}



footer {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    background: #594242;
    text-align: center;
    font-size: 100%;
    bottom: 0;
    left: 0;
    height: 240px;
    width: 100%;
    color: var(--color-texto);

}

.container {
    display: flex;
    justify-content: center;

    
}

.cards {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    transition: all 1s;

}

.projects {
    margin: 50px;
    display: flex;
    justify-content: center;
    border-radius: 10px;
    width: 240px;
    height: 300px;
    background: #362c2c;
    display: block;
    padding: 10px;
    text-align: center;
    color: var(--color-texto);

}

.projects:hover {
    transform: rotateZ(2deg);
}

.projects div {
    padding-top: 5px;
}

.projects img {
    width: 100%;
    height: 6em;
}

.projects button {
    width: 35%;
    height: 1.5em;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    background: #593535;
    color: var(--color-texto);
    transition: all 1s;
    position: relative;
}

.projects button:hover {
    color: black;
    background: #806d6d;
}

.projects button a {
    text-decoration: none;
    color: var(--color-texto);
}

.github {
    display: flex;
    flex-direction: column;
    height: 400px;
    align-items: center;
    margin: 20px;

}

.github div {
    margin: 20px;
}

.github img {
    width: 200px;
    cursor: pointer;
    transition: all 1s;
}

.github img:hover {
    transform: rotateZ(360deg);
}

.community {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 700px;
    align-items: center;

}

.community div {
    margin: 30px;
    padding-top: 10px;
    text-align: center;
}

.community-info p {
    padding-bottom: 20px;

}

.community-info li {
    padding: 10px;
}

.community-info img {
    width: 60%;
    border-radius: 20px;

}

.community-info button {
    width: 30%;
    height: 50px;
    border: none;
    border-radius: 40px;
    background: #494747;
    cursor: pointer;
    transition: all 1s;
}

.community-info button a {
    text-decoration: none;
    color: var(--color-texto);
}

.community-info button:hover {
    -webkit-box-shadow: 1px 9px 58px 6px rgba(0,0,0,0.79);
    -moz-box-shadow: 1px 9px 58px 6px rgba(0,0,0,0.79);
    box-shadow: 1px 9px 58px 6px rgba(0,0,0,0.79);
}




footer a {
    margin: 20px;
    color: #fff;
    transition: all 1s;
}

footer a:hover {
    color: #f6cdcd;
}

@media screen and (max-width: 460px) {
    .title {
        font-size: 12px;
    }

    header h1 {
        font-size: 20px;
    }

    .information {
        font-size: 12px;
    }
    .community-info img {
        width: 50%;
        height: 500px;
        border-radius: 20px;
    
        content: url(../images/community-cel.gif);
    }

    .community-info button {
        width: 50%;
    }

    .community {
        height: 100%;
    }
    


 
    
}






