/* VARIABLES  */

:root {
    --color-primario: #ABEBC6;
    --color-btn: #6F7D9B;
    --color-sencundario: #9addd1;
    --color-background: #dbd4d4;
    --color-texto: #c9c9c9;
    --text-default: 'Raleway', sans-serif;;
}

/* GENERALES */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--text-default);
}

body { 
   background: var(--color-background)  
}

header {
    display: flex;
    height: 100px;
    width: 100%;
    background: #594242;
    color: var(--color-texto);
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 100%;
    letter-spacing: 8px;
    
}

header h1 {
    cursor: pointer;
}

.content1 {
    font: var(--text-default);
    display: flex;
    height: 200px;
    flex-direction: column;
    align-items: center;
   
}

.title {
    display: flex;
    width: 50%;
    text-align: center;
    padding-top: 50px;
}

.information {
    width: 50%;
    height: 100%;
    padding-top: 10px;

    

}




footer {
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    background: #594242;
    text-align: center;
    font-size: 100%;
    bottom: 0;
    left: 0;
    height: 15%;
    width: 100%;
    color: var(--color-texto);

}

footer a {
    margin: 20px;
    color: #fff;
    transition: all 1s;
}

footer a:hover {
    color: #f6cdcd;
}

@media screen and (max-width: 420px) {
    .title {
        font-size: 12px;
    }

    header h1 {
        font-size: 20px;
    }
    
}





